
.statistics-data {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.statistics {
    &-header {
        font-family: 'Arimo';
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #000000;
        
        
        font-style: normal;
    }
    &-part {
        margin-top: 40px;
        min-width: 427px;
        margin-bottom: 60px;
    }
    &-mini {
        display: flex;
        justify-content: space-between;
    }
    &-mini-title {

        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        
        /* identical to box height */
        
        color: #000000;


    }
    &-mini-value {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        
        /* identical to box height */
        
        color: #000000;


    }
    
}