$green: #00A876;
$shadow: rgba(0, 168, 118, 0.2);

.back_button{
    background: rgba(0, 168, 118, 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: auto;
    position: fixed;
    top: 130px;
    &:hover{
        background: #00A876;
    }
}

.task-page {
    width: 100%;
    padding-top: 112px;
    padding-bottom: 80px;
    color: black;
    font-family: 'Arimo';
}

.task-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 77px;
}

.task-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    padding-bottom: 54px;
}

.task-type_title {
    padding-bottom: 10px;
}

.task-info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 20px;

}

.task-info span {
    font-weight: 400;
    padding-left: 20px;

}

.task-card_rightpart {
    display: flex;
    gap: 44px;
    padding-top: 15px;
}

.task-type {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.task-type_title_item {
    font-weight: 400;
    line-height: 24px;
}

.fa-circle {
    color: rgba(0, 168, 118, 0.1);
    padding-right: 8px;
}

.fa-circle:nth-of-type(-n+2) {
    color: $green;
}

.result-btn {
    display: inline-block;
    cursor: pointer;
    background: #00A876;
    border: 2px solid #006D4C;
    color: #fff;
    border-radius: 8px;
    padding: 8px 25px;
    transition: all 250ms;
    &:hover {
        background: #fff;
        color: #006D4C;
    }
}

@media (max-width: 768px) {
    .task-title {
        font-size: 32px;
        line-height: 37px;
    }

    .task-info {
        font-size: 16px;
        line-height: 18px;
    }

    .task-type_title {
        font-size: 16px;
        line-height: 18px;

        &_item {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media (max-width: 570px) {
    .task-info {
        width: 50%;
    }

    .task-card {
        display: block;
    }
}

@media (max-width: 375px) {
    .task-card {
        display: none;
    }
}