
.statistics_draw {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_header {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #000000;
    }
    &_part {
        max-width: 1000px;
        margin-top: 56px;
    }
    &_selection {
        display: flex;
        width: 520px;
        justify-content: space-between;
    }
    &_btn {
        width: 160px;
        height: 42px;
        border: 2px solid #006D4C;
        border-bottom: none;
        border-radius: 8px 8px 0px 0px;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: rgba(0, 168, 118, 0.1);
            
            
        }

        &_txt {
            font-family: 'Arimo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            align-items: center;
            text-align: center;
            
            color: #000000;
        }
    }
    &_graph {
        max-width: 1000px;
        height: 328px;
        border: 2px solid #006D4C;
    }
    
}
#graph {
    &_max {

    }
    &_middle {
        display: none;
    }
}
.opened {
    background: rgba(0, 168, 118, 0.1);
}

@media (max-width: 768px) {
    .statistics_draw {
        &_header {
            font-size: 36px;
            line-height: 41px;
        }
        &_graph {
            max-width: 740px;
            height: 328px;
            border: 2px solid #006D4C;
        }
    }
    #graph {
        &_max {
            display: none;
        }
        &_middle {
            display: block;
        }
    }
}