$green: #00A876;
$shadow: rgba(0, 168, 118, 0.2);


.container {
  max-width: 1140px;
  margin: 0 auto;
  font-family: 'Arimo';
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main-part {
  flex-grow: 1;
  background-color: #fff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
